.aushead
{
    text-align: center;
    text-transform: capitalize;
   
}
.maindivasc
{
    
   
}

.acl
{
   color: #003975;
   text-transform: capitalize; 
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 30px;
}

.actext
{
    color: #003975;
    font-size: 25px;
    padding: 30px;
    text-transform: capitalize;
    
}

.acla
{
    color: #003975;
    font-size: 25px;
    margin: 30px;
    text-transform: capitalize;
    text-decoration: none;
    padding-bottom: 30px;
}
.acla:hover
{
    text-decoration: underline;
}