.fnavbar
{
    background-color: #003975;
    margin-top: -7px;
    height: 22px;
    text-decoration: none;
    text-transform: capitalize;
    display: flex;
    justify-content:flex-end ;
    text-align:center ;
}
.fnavbar > a
{
    text-decoration: none;
    align-self: center;
    padding-left: 7.5px;
    padding-right: 7.5px;
    border-radius: 5px;
    color:white;
}
.a1nav:hover
{
    
    color:orange;
    text-decoration-line: underline;
}
.active
{

color: orange;
}

.snavbar
{
    display: grid;
    grid-template-columns:12.5% 28.5% 59%;
    height: 100px;
     margin-top:0px;
   /* box-shadow: 0px 3px 3px black ;*/
    box-shadow: 0 8px 6px -5px #003975;
    
}
#logo
{
    grid-column-start: 1; 
    grid-column-end: 2;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 5px;
}
#headh1
{   
    grid-column-start: 2; 
    grid-column-end: 3;
    color: #003975;
}
#nav2head
{
    grid-column-start:3 ; 
    grid-column-end:4 ;
    align-self: center;
    display: flex;

}
#nav2head > a
{   
    padding-left: 20px;
    font-size: 20px;
    text-decoration: none;
    color:#003975 ;
}

.a2nav:hover
{   
    color: blue;
    text-decoration: underline;
}

