.dropbtn {
  cursor: pointer;
  background-color: white;
    padding-left: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #003975;
    border: none  ;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  background-color:#003975;
  color: white;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  text-decoration: solid;
  text-transform: capitalize;
}

.dropdown-content a:hover {
  background-color:white;
   color: #003975;
 
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  
}