.main
{
    display: grid;
    grid-template-columns: 30% 60%;
    grid-column-gap: 20px;
    padding-bottom: 40px;
}
.labsimg
{
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 50px;
}
.labstxt
{
    grid-column-start: 2;
    grid-column-end: 3;
    text-transform: capitalize;
    padding-bottom: 40px;
    font-size: 18px;
    text-align: justify;
}
.labstxt >h2{
    color: #003795;
}