.mdivh
{
   display: grid;
   grid-template-columns:20% 79%;
   grid-column-gap: 10px;
}
.mdivh1
{
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 20px;
}
.haag
{
    background-color: #003975;
    color: white;
    width: 100%;
    font-size: 20px;
    padding: 10px;
}
.haag:hover
{
    background-color: white;
    color: #003975;
}
.table
{
    border-collapse: collapse;
}
.head
{
    background-color: #003975;
    color: white;
    font-size: 25px;
    text-transform:capitalize ;
    width: 300px;
    padding: 10px;
}


.mdivh2
{
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 30px;
    border: 2px solid #003975;
}
.images
{
    display: grid;
    grid-template-columns: 500px 550px;
    grid-column-gap:0px ;
    padding: 10px;
}
 .images > img
 {
    box-shadow: 0px 0px 5px #003975;
 }

.img1
{
  grid-column-start: 1;
  grid-column-end: 2;
  padding-left: 0px;
  
  margin-left: 50px;
} 
.img2
{
  grid-column-start: 2;
  grid-column-end: 3;
  
} 
.haag1
{
    text-align: center;
    text-transform: capitalize;
    color: #003975;
}

.head2li
{
    color: #003975;
    font-size: 25px;
    padding-left: 20px;
}
.txtli
{
    
    font-size: 18px;
    padding-left: 20px;
}
.table
{
    margin: 0px 20px 20px 20px;
    border-collapse: collapse;
}

.td1
{
    padding: 10px; 
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}
.r1
{
    background-color: #f8fbff;
    text-align: center;
}

.r2
{
    background-color: #fefffe;
    text-align: center;
}

.thead1
{
    width: 450px;
    padding: 12px;
}
.thead2
{
    width: 260px;
    padding: 12px;
}
.thead3
{
    width: 260px;
    padding: 12px;
}
.thead
{
    background-color: #003975;
    color: white;
    text-transform: capitalize;
    font-size: 20px;
}