.maind
{
   margin-left: 240px;
   margin-right: 240px;
   box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%);
   transition: 0.3s;
   padding: 20px;
}
.ptagtxt
{
    padding-left:20px ;
    text-align: justify!important;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
.ultxt
{
    
    text-align: justify!important;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}